<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="utf-8" />
    <title>Привет мир</title>
</head>
<body>
    <div class="" style="text-align: center;">
        <h1>Страница не существует</h1>
    </div>
</body>
</html>
