<!DOCTYPE html>
<html lang="eng">
  <head>
    <title>О нас</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <form class="" action="/about" method="post">
      <input type="text" name="Name" value="" placeholder="Имя" />
      <input type="text" name="Phone" value="" placeholder="Телефон" />
      <input type="text" name="Email" value="" placeholder="Почта" />
      <button type="submit" name="button">Отправляем</button>
    </form>
  </body>
</html>
