<!DOCTYPE html>
<html>
<head>
  <title>Форма отправленна</title>
  <meta charset="utf-8" />
</head>
<body>
  <h1>Форма отправленна!</h1>
  <p> <b>Имя: </b> <%= data.Name %> </p>
  <p> <b>Телефон: </b> <%= data.Phone %> </p>
  <p> <b>Почта: </b> <%= data.Email %> </p>
</body>
</html>
