<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="utf-8" />
    <title>Привет мир</title>
    <link rel="stylesheet" href="source/css/style.css">
</head>
<body>
  <% include chanks/menu.ejs %>
  <div class="" style="text-align: center;">
      <h1>Привет Лиза</h1>
  </div>
  <div class="" style="text-align: center;">
      <img src="http://files4.adme.ru/files/comment/part_4630/46298815-1488873920.gif" alt="Танцевалька">
  </div>
</body>
</html>
